In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pprint as pp
from collections import defaultdict
from sklearn.feature_extraction.text import CountVectorizer
from difflib import get_close_matches

plt.style.use('seaborn')

In [2]:
df = pd.read_json('data/anime_content.json', lines=True)

In [3]:
df.head()

,_id,errors,data
0,{'$oid': '5ed06d2b64d930385059a26d'},"[{'message': 'Not Found.', 'status': 404, 'loc...",{'Media': None}
1,{'$oid': '5ed06d3564d930385059a26e'},NaN,"{'Media': {'id': 10161, 'title': {'romaji': 'N..."
2,{'$oid': '5ed06d3f64d930385059a26f'},NaN,"{'Media': {'id': 99726, 'title': {'romaji': 'N..."
3,{'$oid': '5ed06d4964d930385059a270'},NaN,"{'Media': {'id': 98526, 'title': {'romaji': 'R..."
4,{'$oid': '5ed06d5364d930385059a271'},NaN,"{'Media': {'id': 101240, 'title': {'romaji': '..."

In [4]:
# Some api calls returned None
no_media = []
for row in df['data']:
    if row['Media'] == None:
        no_media.append(True)
    else:
        no_media.append(False)

In [5]:
len(df[no_media])

48

In [6]:
df = df[~np.array(no_media)]

In [7]:
df[~np.array(df['errors'].isna())]

Empty DataFrame
Columns: [_id, errors, data]
Index: []

In [8]:
# No remaining rows contain errors. Column is removed.
df = df[['_id', 'data']]

In [9]:
df.head()

,_id,data
1,{'$oid': '5ed06d3564d930385059a26e'},"{'Media': {'id': 10161, 'title': {'romaji': 'N..."
2,{'$oid': '5ed06d3f64d930385059a26f'},"{'Media': {'id': 99726, 'title': {'romaji': 'N..."
3,{'$oid': '5ed06d4964d930385059a270'},"{'Media': {'id': 98526, 'title': {'romaji': 'R..."
4,{'$oid': '5ed06d5364d930385059a271'},"{'Media': {'id': 101240, 'title': {'romaji': '..."
5,{'$oid': '5ed06d5e64d930385059a272'},"{'Media': {'id': 966, 'title': {'romaji': 'Cra..."

In [10]:
df.tail()

,_id,data
14473,{'$oid': '5ed2ab4364d930385059daf6'},"{'Media': {'id': 99916, 'title': {'romaji': 'A..."
14474,{'$oid': '5ed2ab4d64d930385059daf7'},"{'Media': {'id': 101283, 'title': {'romaji': '..."
14475,{'$oid': '5ed2ab5864d930385059daf8'},"{'Media': {'id': 101633, 'title': {'romaji': '..."
14476,{'$oid': '5ed2ab6264d930385059daf9'},"{'Media': {'id': 21742, 'title': {'romaji': 'K..."
14477,{'$oid': '5ed2ab6c64d930385059dafa'},"{'Media': {'id': 101089, 'title': {'romaji': '..."

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14430 entries, 1 to 14477
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     14430 non-null  object
 1   data    14430 non-null  object
dtypes: object(2)
memory usage: 338.2+ KB

In [12]:
df['data'][1]['Media']

{'id': 10161,
 'title': {'romaji': 'No.6',
  'english': 'No.6',
  'native': 'NO.6 ナンバー・シックス',
  'userPreferred': 'No.6'},
 'startDate': {'year': 2011, 'month': 7, 'day': 8},
 'endDate': {'year': 2011, 'month': 9, 'day': 16},
 'season': 'SUMMER',
 'seasonYear': 2011,
 'type': 'ANIME',
 'format': 'TV',
 'status': 'FINISHED',
 'episodes': 11,
 'duration': 23,
 'chapters': None,
 'volumes': None,
 'isAdult': False,
 'genres': ['Action', 'Sci-Fi', 'Drama'],
 'tags': [{'name': 'Dystopian', 'rank': 92, 'category': 'Setting-Time'},
  {'name': "Boys' Love", 'rank': 70, 'category': 'Theme-Romance'},
  {'name': 'Shoujo', 'rank': 70, 'category': 'Demographic'},
  {'name': 'Cyberpunk', 'rank': 66, 'category': 'Theme-Sci-Fi'},
  {'name': 'Crossdressing', 'rank': 50, 'category': 'Cast-Traits'},
  {'name': 'Yandere', 'rank': 44, 'category': 'Cast-Traits'}],
 'isLicensed': True,
 'averageScore': 71,
 'popularity': 27608,
 'source': 'OTHER',
 'countryOfOrigin': 'JP',
 'staff': {'edges': [{'id': 12992,
    'node': {'id': 101012,
     'name': {'first': 'Satoshi',
      'last': 'Ishino',
      'full': 'Satoshi Ishino',
      'native': '石野聡'}},
    'role': 'Character Design'},
   {'id': 18470,
    'node': {'id': 101891,
     'name': {'first': 'Masashi',
      'last': 'Kudo',
      'full': 'Masashi Kudo',
      'native': '工藤昌史'}},
    'role': 'Key Animation  (ep 1)'},
   {'id': 18867,
    'node': {'id': 102008,
     'name': {'first': 'Atsuko',
      'last': 'Asano',
      'full': 'Atsuko Asano',
      'native': 'あさのあつこ'}},
    'role': 'Original Creator'},
   {'id': 24909,
    'node': {'id': 103541,
     'name': {'first': 'Seishi',
      'last': 'Minakami',
      'full': 'Seishi Minakami',
      'native': '水上清資'}},
    'role': 'Series Composition'},
   {'id': 31679,
    'node': {'id': 105635,
     'name': {'first': 'Yoshimichi',
      'last': 'Kameda',
      'full': 'Yoshimichi Kameda',
      'native': '亀田祥倫'}},
    'role': 'Key Animation  (OP, ep 6, 10-11)'},
   {'id': 35470,
    'node': {'id': 106631,
     'name': {'first': 'Steven',
      'last': 'Foster',
      'full': 'Steven Foster',
      'native': None}},
    'role': 'Script  (English version)'},
   {'id': 35471,
    'node': {'id': 106631,
     'name': {'first': 'Steven',
      'last': 'Foster',
      'full': 'Steven Foster',
      'native': None}},
    'role': 'ADR Director'},
   {'id': 37601,
    'node': {'id': 107510,
     'name': {'first': 'Michiko',
      'last': 'Itou',
      'full': 'Michiko Itou',
      'native': '伊藤美智子'}},
    'role': 'Script  (eps \t7, 10)'},
   {'id': 37602,
    'node': {'id': 107510,
     'name': {'first': 'Michiko',
      'last': 'Itou',
      'full': 'Michiko Itou',
      'native': '伊藤美智子'}},
    'role': 'Screenplay  (eps \t7, 10)'},
   {'id': 38407,
    'node': {'id': 107859,
     'name': {'first': 'Aimer', 'last': '', 'full': 'Aimer', 'native': 'エメ '}},
    'role': 'Theme Song Performance  (ED)'},
   {'id': 38453,
    'node': {'id': 107943,
     'name': {'first': '', 'last': 'LAMA', 'full': 'LAMA', 'native': 'ラマ'}},
    'role': 'Theme Song Arrangement  (OP)'},
   {'id': 38454,
    'node': {'id': 107943,
     'name': {'first': '', 'last': 'LAMA', 'full': 'LAMA', 'native': 'ラマ'}},
    'role': 'Theme Song Composition  (OP)'},
   {'id': 38455,
    'node': {'id': 107943,
     'name': {'first': '', 'last': 'LAMA', 'full': 'LAMA', 'native': 'ラマ'}},
    'role': 'Theme Song Lyrics  (OP)'},
   {'id': 38456,
    'node': {'id': 107943,
     'name': {'first': '', 'last': 'LAMA', 'full': 'LAMA', 'native': 'ラマ'}},
    'role': 'Theme Song Performance  (OP)'},
   {'id': 38610,
    'node': {'id': 108537,
     'name': {'first': 'Taisuke',
      'last': 'Iwasaki',
      'full': 'Taisuke Iwasaki',
      'native': '岩崎たいすけ'}},
    'role': 'Key Animation  (OP)'},
   {'id': 38723,
    'node': {'id': 108677,
     'name': {'first': 'Kenji',
      'last': 'Nagasaki',
      'full': 'Kenji Nagasaki',
      'native': '長崎健司'}},
    'role': 'Director'},
   {'id': 38724,
    'node': {'id': 108677,
     'name': {'first': 'Kenji',
      'last': 'Nagasaki',
      'full': 'Kenji Nagasaki',
      'native': '長崎健司'}},
    'role': 'Storyboard (OP, ED, eps 1-3, 9, 11)'},
   {'id': 38730,
    'node': {'id': 108679,
     'name': {'first': 'Keiichi',
      'last': 'Suzuki',
      'full': 'Keiichi Suzuki',
      'native': '慶一 鈴木'}},
    'role': 'Music'},
   {'id': 43802,
    'node': {'id': 111539,
     'name': {'first': 'Mao',
      'last': 'Daichi',
      'full': 'Mao Daichi',
      'native': '真央 大地'}},
    'role': 'Inserted Song Performance  (Kaze no Requiem, eps 5, 8, 10)'},
   {'id': 44106,
    'node': {'id': 111683,
     'name': {'first': 'Hideaki',
      'last': 'Maniwa',
      'full': 'Hideaki Maniwa',
      'native': '真庭秀明'}},
    'role': 'Key Animation  (ep 3)'},
   {'id': 44422,
    'node': {'id': 111749,
     'name': {'first': 'Masafumi',
      'last': 'Mima',
      'full': 'Masafumi Mima',
      'native': '三間雅文'}},
    'role': 'Sound Director'},
   {'id': 45259,
    'node': {'id': 112641,
     'name': {'first': '', 'last': 'Toi8', 'full': 'Toi8', 'native': 'Toi8'}},
    'role': 'Original Character Design'},
   {'id': 49442,
    'node': {'id': 116017,
     'name': {'first': 'Hiroshi',
      'last': 'Tomioka',
      'full': 'Hiroshi Tomioka',
      'native': '冨岡寛'}},
    'role': 'Key Animation  (ep 9)'},
   {'id': 50263,
    'node': {'id': 116607,
     'name': {'first': 'Kouji',
      'last': 'Yamamoto',
      'full': 'Kouji Yamamoto',
      'native': '山本幸治'}},
    'role': 'Chief Producer  (Fuji TV)'},
   {'id': 89006,
    'node': {'id': 121209,
     'name': {'first': 'Mamoru',
      'last': 'Kurosawa',
      'full': 'Mamoru Kurosawa',
      'native': '黒沢守'}},
    'role': 'Key Animation (ED)'}]},
 'studios': {'edges': [{'id': 11804,
    'node': {'id': 4, 'name': 'BONES', 'isAnimationStudio': True},
    'isMain': True},
   {'id': 11805,
    'node': {'id': 17, 'name': 'Aniplex', 'isAnimationStudio': False},
    'isMain': False},
   {'id': 11806,
    'node': {'id': 169, 'name': 'Fuji TV', 'isAnimationStudio': False},
    'isMain': False},
   {'id': 11807,
    'node': {'id': 376,
     'name': 'Sentai Filmworks',
     'isAnimationStudio': False},
    'isMain': False}]},
 'characters': {'edges': [{'id': 4370,
    'role': 'SUPPORTING',
    'node': {'id': 43634,
     'name': {'first': 'Youming',
      'last': None,
      'full': 'Youming',
      'native': '楊眠'}},
    'voiceActors': [{'id': 95022,
      'language': 'JAPANESE',
      'name': {'first': 'Shinichirou',
       'last': 'Miki',
       'full': 'Shinichirou Miki',
       'native': '三木眞一郎'}},
     {'id': 112245,
      'language': 'ENGLISH',
      'name': {'first': 'Karl',
       'last': 'Glusman',
       'full': 'Karl Glusman',
       'native': None}}]},
   {'id': 17879,
    'role': 'SUPPORTING',
    'node': {'id': 43637,
     'name': {'first': 'Safu', 'last': None, 'full': 'Safu', 'native': '沙布'}},
    'voiceActors': [{'id': 95151,
      'language': 'ENGLISH',
      'name': {'first': 'Hilary',
       'last': 'Haag',
       'full': 'Hilary Haag',
       'native': None}},
     {'id': 107711,
      'language': 'JAPANESE',
      'name': {'first': 'Kiyono',
       'last': 'Yasuno',
       'full': 'Kiyono Yasuno',
       'native': '安野希世乃'}}]},
   {'id': 20798,
    'role': 'SUPPORTING',
    'node': {'id': 44369,
     'name': {'first': 'Yamase',
      'last': None,
      'full': 'Yamase',
      'native': '山勢'}},
    'voiceActors': [{'id': 95183,
      'language': 'JAPANESE',
      'name': {'first': 'Daisuke',
       'last': 'Hirakawa',
       'full': 'Daisuke Hirakawa',
       'native': '平川大輔'}},
     {'id': 116547,
      'language': 'ENGLISH',
      'name': {'first': 'Mike',
       'last': 'Yager',
       'full': 'Mike Yager',
       'native': None}}]},
   {'id': 21575,
    'role': 'SUPPORTING',
    'node': {'id': 43635,
     'name': {'first': 'Inukashi',
      'last': None,
      'full': 'Inukashi',
      'native': 'イヌカシ'}},
    'voiceActors': [{'id': 95189,
      'language': 'ENGLISH',
      'name': {'first': 'Luci',
       'last': 'Christian',
       'full': 'Luci Christian',
       'native': None}},
     {'id': 95594,
      'language': 'JAPANESE',
      'name': {'first': 'Kei',
       'last': 'Shindou',
       'full': 'Kei Shindou',
       'native': '真堂圭'}}]},
   {'id': 21964,
    'role': 'MAIN',
    'node': {'id': 42307,
     'name': {'first': 'Shion',
      'last': None,
      'full': 'Shion',
      'native': '紫苑'}},
    'voiceActors': [{'id': 95192,
      'language': 'ENGLISH',
      'name': {'first': 'Greg',
       'last': 'Ayres',
       'full': 'Greg Ayres',
       'native': None}},
     {'id': 95672,
      'language': 'JAPANESE',
      'name': {'first': 'Yuuki',
       'last': 'Kaji',
       'full': 'Yuuki Kaji',
       'native': '梶裕貴'}}]},
   {'id': 37533,
    'role': 'SUPPORTING',
    'node': {'id': 45677,
     'name': {'first': 'Roy', 'last': None, 'full': 'Roy', 'native': 'ロイ'}},
    'voiceActors': [{'id': 95482,
      'language': 'JAPANESE',
      'name': {'first': 'Kiyotaka',
       'last': 'Furushima',
       'full': 'Kiyotaka Furushima',
       'native': '古島清孝'}}]},
   {'id': 40195,
    'role': 'SUPPORTING',
    'node': {'id': 43636,
     'name': {'first': 'Rikiga',
      'last': None,
      'full': 'Rikiga',
      'native': '力河'}},
    'voiceActors': [{'id': 95563,
      'language': 'JAPANESE',
      'name': {'first': 'Masaki',
       'last': 'Terasoma',
       'full': 'Masaki Terasoma',
       'native': 'てらそままさき'}},
     {'id': 105074,
      'language': 'ENGLISH',
      'name': {'first': 'Chris',
       'last': 'Hutchison',
       'full': 'Chris Hutchison',
       'native': None}}]},
   {'id': 47374,
    'role': 'SUPPORTING',
    'node': {'id': 45669,
     'name': {'first': 'Ann', 'last': None, 'full': 'Ann', 'native': 'アン'}},
    'voiceActors': [{'id': 95823,
      'language': 'JAPANESE',
      'name': {'first': 'Ayahi',
       'last': 'Takagaki',
       'full': 'Ayahi Takagaki',
       'native': '高垣彩陽'}}]},
   {'id': 50106,
    'role': 'SUPPORTING',
    'node': {'id': 45671,
     'name': {'first': 'Betty',
      'last': None,
      'full': 'Betty',
      'native': 'ベティ'}},
    'voiceActors': [{'id': 95913,
      'language': 'JAPANESE',
      'name': {'first': 'Chika',
       'last': 'Fujimura',
       'full': 'Chika Fujimura',
       'native': '知可 藤村'}}]},
   {'id': 53548,
    'role': 'SUPPORTING',
    'node': {'id': 45673,
     'name': {'first': 'Karan',
      'last': None,
      'full': 'Karan',
      'native': 'カラン'}},
    'voiceActors': [{'id': 96105,
      'language': 'JAPANESE',
      'name': {'first': 'Megumi',
       'last': 'Nakajima',
       'full': 'Megumi Nakajima',
       'native': '中島愛'}}]},
   {'id': 53680,
    'role': 'SUPPORTING',
    'node': {'id': 44174,
     'name': {'first': 'Karan',
      'last': None,
      'full': 'Karan',
      'native': '火藍'}},
    'voiceActors': [{'id': 96111,
      'language': 'JAPANESE',
      'name': {'first': 'Rei',
       'last': 'Sakuma',
       'full': 'Rei Sakuma',
       'native': '佐久間レイ '}},
     {'id': 105607,
      'language': 'ENGLISH',
      'name': {'first': 'Lesley',
       'last': 'Tesh',
       'full': 'Lesley Tesh',
       'native': None}}]},
   {'id': 64255,
    'role': 'MAIN',
    'node': {'id': 41182,
     'name': {'first': 'Nezumi',
      'last': None,
      'full': 'Nezumi',
      'native': 'ネズミ'}},
    'voiceActors': [{'id': 100626,
      'language': 'JAPANESE',
      'name': {'first': 'Yoshimasa',
       'last': 'Hosoya',
       'full': 'Yoshimasa Hosoya',
       'native': '細谷佳正'}},
     {'id': 104842,
      'language': 'ENGLISH',
      'name': {'first': 'Kalob',
       'last': 'Martinez',
       'full': 'Kalob Martinez',
       'native': None}}]},
   {'id': 76891,
    'role': 'SUPPORTING',
    'node': {'id': 45675,
     'name': {'first': 'Rico', 'last': None, 'full': 'Rico', 'native': 'リコ'}},
    'voiceActors': [{'id': 105045,
      'language': 'JAPANESE',
      'name': {'first': 'Yuka',
       'last': 'Nishigaki',
       'full': 'Yuka Nishigaki',
       'native': '由香 西墻'}}]},
   {'id': 79698,
    'role': 'SUPPORTING',
    'node': {'id': 44173,
     'name': {'first': 'Lili', 'last': None, 'full': 'Lili', 'native': '莉莉'}},
    'voiceActors': [{'id': 106404,
      'language': 'JAPANESE',
      'name': {'first': 'Sumire',
       'last': 'Morohoshi',
       'full': 'Sumire Morohoshi',
       'native': '諸星すみれ'}}]},
   {'id': 82620,
    'role': 'SUPPORTING',
    'node': {'id': 44175,
     'name': {'first': "Safu's Grandmother",
      'last': None,
      'full': "Safu's Grandmother",
      'native': '沙布の祖母'}},
    'voiceActors': [{'id': 107610,
      'language': 'ENGLISH',
      'name': {'first': 'Marcy',
       'last': 'Bannor',
       'full': 'Marcy Bannor',
       'native': None}},
     {'id': 107727,
      'language': 'JAPANESE',
      'name': {'first': 'Miyoko',
       'last': 'Shouji',
       'full': 'Miyoko Shouji',
       'native': '美代子 荘司'}}]}]}}

In [13]:
# for show in df['data'][:5]:
#     print('start_date', pd.to_datetime(str(show['Media']['startDate']['year']) + '-' +
#                          str(show['Media']['startDate']['month']) + '-' +
#                          str(show['Media']['startDate']['day'])).date())
#     print('end_date', pd.to_datetime(str(show['Media']['endDate']['year']) + '-' +
#                          str(show['Media']['endDate']['month']) + '-' +
#                          str(show['Media']['endDate']['day'])).date())
#     print('------------------')

In [14]:
media_df = pd.DataFrame(list(df['data']))

In [15]:
media_df.head()

                                               Media
0  {'id': 10161, 'title': {'romaji': 'No.6', 'eng...
1  {'id': 99726, 'title': {'romaji': 'Net-juu no ...
2  {'id': 98526, 'title': {'romaji': 'Robomasters...
3  {'id': 101240, 'title': {'romaji': 'Dokidoki L...
4  {'id': 966, 'title': {'romaji': 'Crayon Shin-c...

In [16]:
media_df = pd.DataFrame(list(media_df['Media']))

In [17]:
media_df.head()

,id,title,startDate,endDate,season,seasonYear,type,format,status,episodes,...,genres,tags,isLicensed,averageScore,popularity,source,countryOfOrigin,staff,studios,characters
0,10161,"{'romaji': 'No.6', 'english': 'No.6', 'native'...","{'year': 2011, 'month': 7, 'day': 8}","{'year': 2011, 'month': 9, 'day': 16}",SUMMER,2011.0,ANIME,TV,FINISHED,11.0,...,"[Action, Sci-Fi, Drama]","[{'name': 'Dystopian', 'rank': 92, 'category':...",True,71.0,27608,OTHER,JP,"{'edges': [{'id': 12992, 'node': {'id': 101012...","{'edges': [{'id': 11804, 'node': {'id': 4, 'na...","{'edges': [{'id': 4370, 'role': 'SUPPORTING', ..."
1,99726,"{'romaji': 'Net-juu no Susume', 'english': 'Re...","{'year': 2017, 'month': 10, 'day': 6}","{'year': 2017, 'month': 12, 'day': 8}",FALL,2017.0,ANIME,TV,FINISHED,10.0,...,"[Comedy, Fantasy, Romance, Adventure, Slice of...","[{'name': 'Video Games', 'rank': 95, 'category...",True,75.0,41540,MANGA,JP,"{'edges': [{'id': 99978, 'node': {'id': 110641...","{'edges': [{'id': 17713, 'node': {'id': 6101, ...","{'edges': [{'id': 149462, 'role': 'MAIN', 'nod..."
2,98526,"{'romaji': 'Robomasters The Animated Series', ...","{'year': 2017, 'month': 10, 'day': 13}","{'year': 2017, 'month': 11, 'day': 17}",FALL,2017.0,ANIME,TV,FINISHED,6.0,...,"[Action, Drama]","[{'name': 'Real Robot', 'rank': 60, 'category'...",True,58.0,1901,ORIGINAL,JP,"{'edges': [{'id': 93476, 'node': {'id': 107517...","{'edges': [{'id': 17375, 'node': {'id': 6154, ...",{'edges': []}
3,101240,"{'romaji': 'Dokidoki Little Ooya-san', 'englis...","{'year': 2018, 'month': 5, 'day': 25}","{'year': 2019, 'month': 12, 'day': 27}",SPRING,2018.0,ANIME,OVA,FINISHED,6.0,...,[Hentai],"[{'name': 'Age Gap', 'rank': 86, 'category': '...",True,67.0,1228,VIDEO_GAME,JP,{'edges': []},"{'edges': [{'id': 18136, 'node': {'id': 6155, ...","{'edges': [{'id': 151698, 'role': 'MAIN', 'nod..."
4,966,"{'romaji': 'Crayon Shin-chan', 'english': 'Shi...","{'year': 1992, 'month': 4, 'day': 13}","{'year': None, 'month': None, 'day': None}",SPRING,1992.0,ANIME,TV,RELEASING,NaN,...,"[Comedy, Ecchi, Slice of Life]","[{'name': 'Episodic', 'rank': 85, 'category': ...",True,73.0,4681,MANGA,JP,"{'edges': [{'id': 966, 'node': {'id': 95148, '...","{'edges': [{'id': 2601, 'node': {'id': 55, 'na...","{'edges': [{'id': 2281, 'role': 'SUPPORTING', ..."

In [18]:
genres_df = pd.DataFrame(list(media_df['genres']))
genres_df.head()

        0        1              2          3              4     5     6
0  Action   Sci-Fi          Drama       None           None  None  None
1  Comedy  Fantasy        Romance  Adventure  Slice of Life  None  None
2  Action    Drama           None       None           None  None  None
3  Hentai     None           None       None           None  None  None
4  Comedy    Ecchi  Slice of Life       None           None  None  None

In [19]:
# this project does not aim to be a hentai recommender
hentai_idxs = []
for idx, row in genres_df.iterrows():
    if 'Hentai' in row.values:
        hentai_idxs.append(idx)

In [20]:
len(hentai_idxs)

1181

In [21]:
media_df = media_df.drop(hentai_idxs)
media_df.head()

,id,title,startDate,endDate,season,seasonYear,type,format,status,episodes,...,genres,tags,isLicensed,averageScore,popularity,source,countryOfOrigin,staff,studios,characters
0,10161,"{'romaji': 'No.6', 'english': 'No.6', 'native'...","{'year': 2011, 'month': 7, 'day': 8}","{'year': 2011, 'month': 9, 'day': 16}",SUMMER,2011.0,ANIME,TV,FINISHED,11.0,...,"[Action, Sci-Fi, Drama]","[{'name': 'Dystopian', 'rank': 92, 'category':...",True,71.0,27608,OTHER,JP,"{'edges': [{'id': 12992, 'node': {'id': 101012...","{'edges': [{'id': 11804, 'node': {'id': 4, 'na...","{'edges': [{'id': 4370, 'role': 'SUPPORTING', ..."
1,99726,"{'romaji': 'Net-juu no Susume', 'english': 'Re...","{'year': 2017, 'month': 10, 'day': 6}","{'year': 2017, 'month': 12, 'day': 8}",FALL,2017.0,ANIME,TV,FINISHED,10.0,...,"[Comedy, Fantasy, Romance, Adventure, Slice of...","[{'name': 'Video Games', 'rank': 95, 'category...",True,75.0,41540,MANGA,JP,"{'edges': [{'id': 99978, 'node': {'id': 110641...","{'edges': [{'id': 17713, 'node': {'id': 6101, ...","{'edges': [{'id': 149462, 'role': 'MAIN', 'nod..."
2,98526,"{'romaji': 'Robomasters The Animated Series', ...","{'year': 2017, 'month': 10, 'day': 13}","{'year': 2017, 'month': 11, 'day': 17}",FALL,2017.0,ANIME,TV,FINISHED,6.0,...,"[Action, Drama]","[{'name': 'Real Robot', 'rank': 60, 'category'...",True,58.0,1901,ORIGINAL,JP,"{'edges': [{'id': 93476, 'node': {'id': 107517...","{'edges': [{'id': 17375, 'node': {'id': 6154, ...",{'edges': []}
4,966,"{'romaji': 'Crayon Shin-chan', 'english': 'Shi...","{'year': 1992, 'month': 4, 'day': 13}","{'year': None, 'month': None, 'day': None}",SPRING,1992.0,ANIME,TV,RELEASING,NaN,...,"[Comedy, Ecchi, Slice of Life]","[{'name': 'Episodic', 'rank': 85, 'category': ...",True,73.0,4681,MANGA,JP,"{'edges': [{'id': 966, 'node': {'id': 95148, '...","{'edges': [{'id': 2601, 'node': {'id': 55, 'na...","{'edges': [{'id': 2281, 'role': 'SUPPORTING', ..."
5,4876,"{'romaji': 'Hashire Melos!', 'english': 'Run M...","{'year': 1992, 'month': 6, 'day': 25}","{'year': 1992, 'month': 6, 'day': 25}",SUMMER,1992.0,ANIME,MOVIE,FINISHED,1.0,...,"[Action, Adventure, Drama]","[{'name': 'Classic Literature', 'rank': 70, 'c...",True,61.0,921,OTHER,JP,"{'edges': [{'id': 5907, 'node': {'id': 97762, ...","{'edges': [{'id': 7865, 'node': {'id': 141, 'n...","{'edges': [{'id': 2540, 'role': 'MAIN', 'node'..."

In [22]:
media_df['id']

0         10161
1         99726
2         98526
4           966
5          4876
          ...
14425     99916
14426    101283
14427    101633
14428     21742
14429    101089
Name: id, Length: 13249, dtype: int64

In [23]:
len(media_df['id'].unique())

9832

While retrieving shows from the AniList API, different search terms sometimes returned the same shows. Duplicates need to be dropped.

In [24]:
media_df = media_df.drop_duplicates(subset='id')

In [25]:
# Every row has a unique id
len(media_df['id']) == len(media_df['id'].unique())

True

In [26]:
media_df.set_index('id', inplace=True)

In [27]:
media_df.head()

,title,startDate,endDate,season,seasonYear,type,format,status,episodes,duration,...,genres,tags,isLicensed,averageScore,popularity,source,countryOfOrigin,staff,studios,characters
id,,,,,,,,,,,,,,,,,,,,,
10161,"{'romaji': 'No.6', 'english': 'No.6', 'native'...","{'year': 2011, 'month': 7, 'day': 8}","{'year': 2011, 'month': 9, 'day': 16}",SUMMER,2011.0,ANIME,TV,FINISHED,11.0,23.0,...,"[Action, Sci-Fi, Drama]","[{'name': 'Dystopian', 'rank': 92, 'category':...",True,71.0,27608,OTHER,JP,"{'edges': [{'id': 12992, 'node': {'id': 101012...","{'edges': [{'id': 11804, 'node': {'id': 4, 'na...","{'edges': [{'id': 4370, 'role': 'SUPPORTING', ..."
99726,"{'romaji': 'Net-juu no Susume', 'english': 'Re...","{'year': 2017, 'month': 10, 'day': 6}","{'year': 2017, 'month': 12, 'day': 8}",FALL,2017.0,ANIME,TV,FINISHED,10.0,24.0,...,"[Comedy, Fantasy, Romance, Adventure, Slice of...","[{'name': 'Video Games', 'rank': 95, 'category...",True,75.0,41540,MANGA,JP,"{'edges': [{'id': 99978, 'node': {'id': 110641...","{'edges': [{'id': 17713, 'node': {'id': 6101, ...","{'edges': [{'id': 149462, 'role': 'MAIN', 'nod..."
98526,"{'romaji': 'Robomasters The Animated Series', ...","{'year': 2017, 'month': 10, 'day': 13}","{'year': 2017, 'month': 11, 'day': 17}",FALL,2017.0,ANIME,TV,FINISHED,6.0,25.0,...,"[Action, Drama]","[{'name': 'Real Robot', 'rank': 60, 'category'...",True,58.0,1901,ORIGINAL,JP,"{'edges': [{'id': 93476, 'node': {'id': 107517...","{'edges': [{'id': 17375, 'node': {'id': 6154, ...",{'edges': []}
966,"{'romaji': 'Crayon Shin-chan', 'english': 'Shi...","{'year': 1992, 'month': 4, 'day': 13}","{'year': None, 'month': None, 'day': None}",SPRING,1992.0,ANIME,TV,RELEASING,NaN,21.0,...,"[Comedy, Ecchi, Slice of Life]","[{'name': 'Episodic', 'rank': 85, 'category': ...",True,73.0,4681,MANGA,JP,"{'edges': [{'id': 966, 'node': {'id': 95148, '...","{'edges': [{'id': 2601, 'node': {'id': 55, 'na...","{'edges': [{'id': 2281, 'role': 'SUPPORTING', ..."
4876,"{'romaji': 'Hashire Melos!', 'english': 'Run M...","{'year': 1992, 'month': 6, 'day': 25}","{'year': 1992, 'month': 6, 'day': 25}",SUMMER,1992.0,ANIME,MOVIE,FINISHED,1.0,110.0,...,"[Action, Adventure, Drama]","[{'name': 'Classic Literature', 'rank': 70, 'c...",True,61.0,921,OTHER,JP,"{'edges': [{'id': 5907, 'node': {'id': 97762, ...","{'edges': [{'id': 7865, 'node': {'id': 141, 'n...","{'edges': [{'id': 2540, 'role': 'MAIN', 'node'..."

<b>Next we need to create content item matricies from the above dataframe</b>




## Title


---

In [28]:
title_df = pd.DataFrame(list(media_df['title']), index=media_df.index)
title_df.head()

,romaji,english,native,userPreferred
id,,,,
10161,No.6,No.6,NO.6 ナンバー・シックス,No.6
99726,Net-juu no Susume,Recovery of an MMO Junkie,ネト充のススメ,Net-juu no Susume
98526,Robomasters The Animated Series,None,ROBOMASTERS THE ANIMATED SERIES,Robomasters The Animated Series
966,Crayon Shin-chan,Shin Chan,クレヨンしんちゃん,Crayon Shin-chan
4876,Hashire Melos!,Run Melos!,走れメロス,Hashire Melos!

In [30]:
# would like to be able to search for shows w/o knowing exact title
# get_close_matches('Fullmetal Alchemist', title_df['userPreferred'], cutoff=0.25)




## Genres


---

In [31]:
genres_df = pd.DataFrame(media_df['genres'])
genres_df.head()

                                                  genres
id
10161                            [Action, Sci-Fi, Drama]
99726  [Comedy, Fantasy, Romance, Adventure, Slice of...
98526                                    [Action, Drama]
966                       [Comedy, Ecchi, Slice of Life]
4876                          [Action, Adventure, Drama]

In [32]:
for row in genres_df['genres']:
    for idx, genre in enumerate(row):
        row[idx] = (genre.replace(' ', '_')).lower()
        row[idx] = row[idx].replace('-', '_')

In [33]:
genres_df['genres']

id
10161                               [action, sci_fi, drama]
99726     [comedy, fantasy, romance, adventure, slice_of...
98526                                       [action, drama]
966                          [comedy, ecchi, slice_of_life]
4876                             [action, adventure, drama]
                                ...
99586                        [ecchi, sports, slice_of_life]
99916                              [romance, slice_of_life]
101283                     [horror, mystery, psychological]
101633                [music, slice_of_life, comedy, drama]
101089                                      [slice_of_life]
Name: genres, Length: 9832, dtype: object

In [34]:
vectorizer = CountVectorizer()

In [35]:
genres_item_matrix = pd.DataFrame(vectorizer.fit_transform([' '.join(row) for row in genres_df['genres']]).todense(), 
                                  columns=vectorizer.get_feature_names(), 
                                  index=media_df.index)

In [36]:
genres_item_matrix

,action,adventure,comedy,drama,ecchi,fantasy,horror,mahou_shoujo,mecha,music,mystery,psychological,romance,sci_fi,slice_of_life,sports,supernatural,thriller
id,,,,,,,,,,,,,,,,,,
10161,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
99726,0,1,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
98526,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
966,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
4876,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99586,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0
99916,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0
101283,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0
101633,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0
101089,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

<b>That's a beautiful matrix!</b>

In [37]:
# these are the most common genres
np.mean(genres_item_matrix).sort_values(ascending=False)

comedy           0.391172
action           0.268002
adventure        0.213283
fantasy          0.198841
drama            0.190704
sci_fi           0.186127
romance          0.143714
slice_of_life    0.127339
music            0.097539
supernatural     0.096216
mecha            0.082994
ecchi            0.062449
sports           0.052990
mystery          0.052685
horror           0.034886
psychological    0.032343
mahou_shoujo     0.025325
thriller         0.011595
dtype: float64

In [40]:
# I'm surpised there aren't many thrillers. Lets investigate that.
thriller_idxs = genres_item_matrix[genres_item_matrix['thriller'] == 1].index
genres_item_matrix[genres_item_matrix['thriller'] == 1]

,action,adventure,comedy,drama,ecchi,fantasy,horror,mahou_shoujo,mecha,music,mystery,psychological,romance,sci_fi,slice_of_life,sports,supernatural,thriller
id,,,,,,,,,,,,,,,,,,
21127,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1
9253,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,1
2904,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1
1575,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1
19,0,0,0,1,0,0,1,0,0,0,1,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100388,1,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1
104382,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1
101349,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1
102649,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1
99629,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1

In [58]:
for idx, title in title_df[title_df.index.isin(thriller_idxs)].iterrows():
    if title['english'] == None:
        print(title['userPreferred'])
    else:
        print(title['english'])

Steins;Gate 0
Steins;Gate
Code Geass: Lelouch of the Rebellion R2
Code Geass: Lelouch of the Rebellion
Monster
Death Note
Fate/Zero Season 2
the Garden of sinners Chapter 5: Paradox Paradigm
Rainbow
Steins;Gate The Movie – Load Region of Déjà Vu
ERASED
the Garden of sinners Chapter 7: ……not nothing heart. (Murder Speculation Part B)
Puella Magi Madoka Magica the Movie Part III: Rebellion
Puella Magi Madoka Magica
Puella Magi Madoka Magica the Movie Part II: Eternal
PSYCHO-PASS
Steins;Gate: Egoistic Poriomania
When They Cry Kai
Steins;Gate 0: 23β- Divide by Zero
Kaiji - Ultimate Survivor
The Promised Neverland
Kaiji - Against All Rules
Black Lagoon: The Second Barrage
Puella Magi Madoka Magica the Movie Part I: Beginnings
Gankutsuou: The Count of Monte Cristo
Terror in Resonance
Code Geass: Lelouch of the Rebellion I - Initiation
the Garden of sinners Chapter 3: ever cry, never life. (Remaining Sense of Pain)
Black Lagoon
Black Lagoon: Roberta's Blood Trail
Paprika
Phantom: Requiem for the Phantom
When They Cry
Death Billiards
the Garden of sinners Chapter 4: garan-no-dou. (The Hollow Shrine)
HERO MASK
Akagi
Eden of The East
the Garden of sinners Chapter 2: …and nothing heart. (Murder Speculation Part A)
Shiki
Shiki Specials
The Future Diary
Psycho-Pass: The Movie
Blue Literature Series
Jin-Roh: The Wolf Brigade
Another
Code Geass: Lelouch of the Rebellion II - Transgression
the Garden of sinners Chapter 1: Thanatos. (Overlooking View)
Eden of The East Compilation: Air Communication
Paranoia Agent
Ga-Rei-Zero
Electromagnetic Girlfriend
Kara no Kyoukai Remix: Gate of Seventh Heaven
Danganronpa 3: The End of Hope’s Peak High School - Future Arc
B: The Beginning
the Garden of sinners Chapter 6: Fairy Tale. (Oblivion Recording)
Shion no Ou
Golgo 13
Mi Yu Xing Zhe
Shigofumi
PSYCHO-PASS 2
When They Cry Rei
selector spread WIXOSS
Karakuri Zoushi Ayatsuri Sakon
Another: The Other
Shigofumi: And Then...
[C] - CONTROL - The Money and Soul of Possibility
selector infected WIXOSS
When They Cry Kaku: Outbreak
Mouryou no Hako
Demon Prince Enma
KOKKOKU
King of Thorn
Puella Magi Madoka Magica Concept Movie
Magical Girl Raising Project
Joker Game
Harmony
Blade Runner: Black Out 2022
Occultic;Nine
The King of Pigs
The Fake
Mouryou no Hako Special
Chinese Mystery Man
JUNI TAISEN：ZODIAC WAR
Meisou! Underworld
Die Now
Xue Se Cang Qiong
Kagewani ~II~
Kagewani
Kyoto Animation CM: Megane-hen
A.D. Police Files
Sanctuary
Under The Dog
Arve Rezzle: Kikaijikake no Yousei-tachi
Loups=Garous
Magia Record: Puella Magi Madoka Magica Side Story
Lupin III 3DCG
Seoul Station
Loups=Garous Pilot
Koroshiya-san: The Hired Gun
The Window
Have a Nice Day
Chainsaw Maid
Sword for Truth
Bloody Night
Dead Girl Trailer
PSYCHO-PASS Sinners of the System Case 3: Onshuu no Kanata ni ____
Bokura no Nanokakan Sensou
Mo Ri Shu Guang
BANANA FISH
PSYCHO-PASS Sinners of the System Case 2: First Guardian
BABYLON
PSYCHO-PASS Sinners of the System Case 1: Tsumi to Batsu
Angels of Death

  
  
  
## Tags


---

In [59]:
tags_df = pd.DataFrame(list(media_df['tags']), index=media_df.index)
tags_df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
id,,,,,,,,,,,,,,,,,,,,,
10161,"{'name': 'Dystopian', 'rank': 92, 'category': ...","{'name': 'Boys' Love', 'rank': 70, 'category':...","{'name': 'Shoujo', 'rank': 70, 'category': 'De...","{'name': 'Cyberpunk', 'rank': 66, 'category': ...","{'name': 'Crossdressing', 'rank': 50, 'categor...","{'name': 'Yandere', 'rank': 44, 'category': 'C...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
99726,"{'name': 'Video Games', 'rank': 95, 'category'...","{'name': 'Virtual World', 'rank': 92, 'categor...","{'name': 'Hikikomori', 'rank': 88, 'category':...","{'name': 'Primarily Adult Cast', 'rank': 83, '...","{'name': 'Female Protagonist', 'rank': 80, 'ca...","{'name': 'Parody', 'rank': 70, 'category': 'Th...","{'name': 'Gender Bending', 'rank': 55, 'catego...","{'name': 'Reverse Harem', 'rank': 20, 'categor...",None,None,...,None,None,None,None,None,None,None,None,None,None
98526,"{'name': 'Real Robot', 'rank': 60, 'category':...","{'name': 'Robots', 'rank': 60, 'category': 'Ca...","{'name': 'College', 'rank': 20, 'category': 'S...",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
966,"{'name': 'Episodic', 'rank': 85, 'category': '...","{'name': 'Family Life', 'rank': 73, 'category'...","{'name': 'Kids', 'rank': 72, 'category': 'Demo...","{'name': 'School', 'rank': 66, 'category': 'Se...","{'name': 'Male Protagonist', 'rank': 60, 'cate...","{'name': 'Shounen', 'rank': 52, 'category': 'D...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4876,"{'name': 'Classic Literature', 'rank': 70, 'ca...","{'name': 'Historical', 'rank': 70, 'category':...","{'name': 'Male Protagonist', 'rank': 66, 'cate...","{'name': 'Foreign', 'rank': 66, 'category': 'S...","{'name': 'Politics', 'rank': 60, 'category': '...","{'name': 'Tragedy', 'rank': 20, 'category': 'T...","{'name': 'Swordplay', 'rank': 20, 'category': ...","{'name': 'Gore', 'rank': 20, 'category': 'Them...",None,None,...,None,None,None,None,None,None,None,None,None,None

In [60]:
tag_categories = {}
for idx, row in tags_df.iterrows():
    for tag in row:
        if tag == None:
            continue
        tag_categories.setdefault(tag['category'], set()).add(tag['name'])

In [61]:
pp.pprint(tag_categories)

{'': {'Reformation'},
 'Cast-Main Cast': {'Anti-Hero',
                    'Ensemble Cast',
                    'Female Protagonist',
                    'Male Protagonist',
                    'Office Lady',
                    'Primarily Adult Cast',
                    'Primarily Child Cast',
                    'Primarily Female Cast',
                    'Primarily Male Cast'},
 'Cast-Traits': {'Age Regression',
                 'Agender',
                 'Aliens',
                 'Amnesia',
                 'Artificial Intelligence',
                 'Asexual',
                 'Centaur',
                 'Chuunibyou',
                 'Cosplay',
                 'Crossdressing',
                 'Delinquents',
                 'Demons',
                 'Detective',
                 'Dinosaurs',
                 'Dissociative Identities',
                 'Dragons',
                 'Dullahan',
                 'Elf',
                 'Ghost',
                 'Goblin',
                 'Gods',
                 'Gyaru',
                 'Hikikomori',
                 'Idol',
                 'Kemonomimi',
                 'Maids',
                 'Mermaid',
                 'Monster Girl',
                 'Nekomimi',
                 'Ninja',
                 'Nudity',
                 'Nun',
                 'Oiran',
                 'Pirates',
                 'Robots',
                 'Samurai',
                 'Shrine Maiden',
                 'Skeleton',
                 'Succubus',
                 'Teacher',
                 'Tsundere',
                 'Twins',
                 'Vampire',
                 'Vikings',
                 'Werewolf',
                 'Witch',
                 'Yandere',
                 'Zombie'},
 'Demographic': {'Shoujo', 'Josei', 'Kids', 'Seinen', 'Shounen'},
 'Setting-Scene': {'Bar',
                   'Circus',
                   'College',
                   'Dungeon',
                   'Foreign',
                   'Language Barrier',
                   'Outdoor',
                   'Rural',
                   'School',
                   'School Club',
                   'Urban',
                   'Work'},
 'Setting-Time': {'Achronological Order',
                  'Anachronism',
                  'Dystopian',
                  'Historical',
                  'Time Skip'},
 'Setting-Universe': {'Afterlife',
                      'Alternate Universe',
                      'Augmented Reality',
                      'Post-Apocalyptic',
                      'Space',
                      'Urban Fantasy',
                      'Virtual World'},
 'Sexual Content': {'Bondage',
                    'Feet',
                    'Incest',
                    'Masturbation',
                    'Netorare',
                    'POV',
                    'Prostitution',
                    'Rape',
                    'Urination',
                    'Voyeur'},
 'Technical': {'4-koma',
               'Advertisement',
               'Anthology',
               'CGI',
               'Episodic',
               'Flash',
               'Full CGI',
               'Full Color',
               'No Dialogue',
               'Puppetry',
               'Rotoscoping',
               'Stop Motion'},
 'Theme-Action': {'Archery',
                  'Battle Royale',
                  'Espionage',
                  'Fugitive',
                  'Guns',
                  'Martial Arts',
                  'Swordplay'},
 'Theme-Arts': {'Acting',
                'Calligraphy',
                'Classic Literature',
                'Drawing',
                'Fashion',
                'Food',
                'Photography',
                'Rakugo',
                'Writing'},
 'Theme-Arts-Music': {'Dancing', 'Musical', 'Band'},
 'Theme-Comedy': {'Slapstick', 'Parody', 'Surreal Comedy', 'Satire'},
 'Theme-Drama': {'Bullying',
                 'Coming of Age',
                 'Conspiracy',
                 'Rehabilitation',
                 'Revenge',
                 'Tragedy'},
 'Theme-Fantasy': {'Body Swapping',
                   'Cultivation',
                   'Fairy Tale',
                   'Henshin',
                   'Isekai',
                   'Kaiju',
                   'Magic',
                   'Mythology',
                   'Steampunk',
                   'Super Power',
                   'Superhero',
                   'Wuxia',
                   'Youkai'},
 'Theme-Game': {'Video Games'},
 'Theme-Game-Card & Board Game': {'Card Battle',
                                  'Go',
                                  'Karuta',
                                  'Mahjong',
                                  'Poker',
                                  'Shogi'},
 'Theme-Game-Sport': {'Airsoft',
                      'American Football',
                      'Athletics',
                      'Badminton',
                      'Baseball',
                      'Basketball',
                      'Boxing',
                      'Cheerleading',
                      'Cycling',
                      'Fishing',
                      'Fitness',
                      'Football',
                      'Golf',
                      'Ice Skating',
                      'Lacrosse',
                      'Rugby',
                      'Surfing',
                      'Swimming',
                      'Table Tennis',
                      'Tennis',
                      'Volleyball',
                      'Wrestling'},
 'Theme-Other': {'Animals',
                 'Astronomy',
                 'Autobiographical',
                 'Biographical',
                 'Body Horror',
                 'Chibi',
                 'Cosmic Horror',
                 'Crime',
                 'Crossover',
                 'Death Game',
                 'Denpa',
                 'Drugs',
                 'Economics',
                 'Educational',
                 'Environmental',
                 'Ero Guro',
                 'Gambling',
                 'Gender Bending',
                 'Gore',
                 'LGBTQ Issues',
                 'Lost Civilization',
                 'Medicine',
                 'Memory Manipulation',
                 'Meta',
                 'Noir',
                 'Otaku Culture',
                 'Philosophy',
                 'Politics',
                 'Reincarnation',
                 'Slavery',
                 'Software Development',
                 'Survival',
                 'Terrorism',
                 'War'},
 'Theme-Other-Organisations': {'Assassins',
                               'Cult',
                               'Firefighters',
                               'Gangs',
                               'Mafia',
                               'Military',
                               'Police',
                               'Triads',
                               'Yakuza'},
 'Theme-Other-Vehicle': {'Aviation',
                         'Cars',
                         'Mopeds',
                         'Motorcycles',
                         'Ships',
                         'Tanks',
                         'Trains'},
 'Theme-Romance': {'Age Gap',
                   'Bisexual',
                   "Boys' Love",
                   'Harem',
                   'Love Triangle',
                   'Reverse Harem',
                   "Teens' Love",
                   'Yuri'},
 'Theme-Sci-Fi': {'Tokusatsu', 'Space Opera', 'Cyberpunk', 'Time Manipulation'},
 'Theme-Sci-Fi-Mecha': {'Real Robot', 'Super Robot'},
 'Theme-Slice of Life': {'Cute Girls Doing Cute Things',
                         'Family Life',
                         'Iyashikei'}}

In [62]:
int(title_df[title_df['english'] == 'Space Dandy'].index.values)

20057

In [66]:
# just looking at Space Dandy as an example
dandy_tags = tags_df[tags_df.index == int(title_df[title_df['english'] == 'Space Dandy'].index.values)]

In [67]:
dandy_tags

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
id,,,,,,,,,,,,,,,,,,,,,
20057,"{'name': 'Space', 'rank': 98, 'category': 'Set...","{'name': 'Episodic', 'rank': 96, 'category': '...","{'name': 'Aliens', 'rank': 82, 'category': 'Ca...","{'name': 'Achronological Order', 'rank': 62, '...","{'name': 'Parody', 'rank': 60, 'category': 'Th...","{'name': 'Robots', 'rank': 60, 'category': 'Ca...","{'name': 'Male Protagonist', 'rank': 50, 'cate...","{'name': 'Seinen', 'rank': 50, 'category': 'De...",None,None,...,None,None,None,None,None,None,None,None,None,None

In [72]:
dandy_tags.iloc[0,:]

0     {'name': 'Space', 'rank': 98, 'category': 'Set...
1     {'name': 'Episodic', 'rank': 96, 'category': '...
2     {'name': 'Aliens', 'rank': 82, 'category': 'Ca...
3     {'name': 'Achronological Order', 'rank': 62, '...
4     {'name': 'Parody', 'rank': 60, 'category': 'Th...
5     {'name': 'Robots', 'rank': 60, 'category': 'Ca...
6     {'name': 'Male Protagonist', 'rank': 50, 'cate...
7     {'name': 'Seinen', 'rank': 50, 'category': 'De...
8                                                  None
9                                                  None
10                                                 None
11                                                 None
12                                                 None
13                                                 None
14                                                 None
15                                                 None
16                                                 None
17                                                 None
18                                                 None
19                                                 None
20                                                 None
21                                                 None
22                                                 None
23                                                 None
24                                                 None
25                                                 None
26                                                 None
27                                                 None
28                                                 None
29                                                 None
Name: 20057, dtype: object

In [85]:
tags_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
id,,,,,,,,,,,,,,,,,,,,,
10161,"{'name': 'Dystopian', 'rank': 92, 'category': ...","{'name': 'Boys' Love', 'rank': 70, 'category':...","{'name': 'Shoujo', 'rank': 70, 'category': 'De...","{'name': 'Cyberpunk', 'rank': 66, 'category': ...","{'name': 'Crossdressing', 'rank': 50, 'categor...","{'name': 'Yandere', 'rank': 44, 'category': 'C...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
99726,"{'name': 'Video Games', 'rank': 95, 'category'...","{'name': 'Virtual World', 'rank': 92, 'categor...","{'name': 'Hikikomori', 'rank': 88, 'category':...","{'name': 'Primarily Adult Cast', 'rank': 83, '...","{'name': 'Female Protagonist', 'rank': 80, 'ca...","{'name': 'Parody', 'rank': 70, 'category': 'Th...","{'name': 'Gender Bending', 'rank': 55, 'catego...","{'name': 'Reverse Harem', 'rank': 20, 'categor...",None,None,...,None,None,None,None,None,None,None,None,None,None
98526,"{'name': 'Real Robot', 'rank': 60, 'category':...","{'name': 'Robots', 'rank': 60, 'category': 'Ca...","{'name': 'College', 'rank': 20, 'category': 'S...",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [97]:
tag_threshold = 60
keep_tags = []
keep_tags_idxs = []
for idx, row in tags_df.iloc[:,:].iterrows():
    t = []
    for tag in row:
        if tag == None:
            continue # skip
        else:
            if tag['rank'] >= tag_threshold:
                t.append(tag['name'])
            else:
                continue # ignore
    keep_tags.append(t)
    keep_tags_idxs.append(idx)
#     tags_df2 = tags_df2.append(keep_tags, ignore_index=True)

In [99]:
pd.DataFrame(list(keep_tags), index=keep_tags_idxs)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
10161,Dystopian,Boys' Love,Shoujo,Cyberpunk,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
99726,Video Games,Virtual World,Hikikomori,Primarily Adult Cast,Female Protagonist,Parody,None,None,None,None,None,None,None,None,None,None,None,None,None
98526,Real Robot,Robots,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
966,Episodic,Family Life,Kids,School,Male Protagonist,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4876,Classic Literature,Historical,Male Protagonist,Foreign,Politics,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99586,Volleyball,Primarily Female Cast,Female Protagonist,Cute Girls Doing Cute Things,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
99916,Yuri,Coming of Age,Female Protagonist,School,Primarily Female Cast,None,None,None,None,None,None,None,None,None,None,None,None,None,None
101283,Urban Fantasy,Philosophy,Achronological Order,Body Swapping,Female Protagonist,Super Power,Dissociative Identities,Agender,Crime,Denpa,None,None,None,None,None,None,None,None,None
101633,Band,Full CGI,Primarily Female Cast,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
101089,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None




## Staff


---

In [ ]:
staff_df = pd.DataFrame(media_df['staff'])
staff_df.head()

In [ ]:
staff_df = staff_df['staff'].apply(pd.Series)

In [ ]:
staff_df = staff_df['edges'].apply(pd.Series)
staff_df.head(3)




## Studios


---

In [ ]:
studios_df = pd.DataFrame(media_df['studios'])
studios_df.head()

In [ ]:
studios_df = studios_df['studios'].apply(pd.Series)
studios_df.head(3)

In [ ]:
studios_df = studios_df['edges'].apply(pd.Series)
studios_df.head(3)

  


## Characters and Voice Actors  
  
  
---

In [ ]:
characters_df = pd.DataFrame(media_df['characters'])
characters_df.head()

In [ ]:
characters_df = characters_df['characters'].apply(pd.Series)
characters_df.head()

In [ ]:
characters_df = characters_df['edges'].apply(pd.Series)
characters_df.head()