In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pprint as pprint

plt.style.use('seaborn')

In [2]:
df = pd.read_json('data/anime_content.json', lines=True)

In [3]:
df.head()

,_id,errors,data
0,{'$oid': '5ed06d2b64d930385059a26d'},"[{'message': 'Not Found.', 'status': 404, 'loc...",{'Media': None}
1,{'$oid': '5ed06d3564d930385059a26e'},NaN,"{'Media': {'id': 10161, 'title': {'romaji': 'N..."
2,{'$oid': '5ed06d3f64d930385059a26f'},NaN,"{'Media': {'id': 99726, 'title': {'romaji': 'N..."
3,{'$oid': '5ed06d4964d930385059a270'},NaN,"{'Media': {'id': 98526, 'title': {'romaji': 'R..."
4,{'$oid': '5ed06d5364d930385059a271'},NaN,"{'Media': {'id': 101240, 'title': {'romaji': '..."

In [4]:
# Some api calls returned None
no_media = []
for row in df['data']:
    if row['Media'] == None:
        no_media.append(True)
    else:
        no_media.append(False)

In [5]:
len(df[no_media])

48

In [6]:
df = df[~np.array(no_media)]

In [7]:
df[~np.array(df['errors'].isna())]

Empty DataFrame
Columns: [_id, errors, data]
Index: []

In [8]:
# No remaining rows contain errors. Column is removed.
df = df[['_id', 'data']]

In [9]:
df.head()

,_id,data
1,{'$oid': '5ed06d3564d930385059a26e'},"{'Media': {'id': 10161, 'title': {'romaji': 'N..."
2,{'$oid': '5ed06d3f64d930385059a26f'},"{'Media': {'id': 99726, 'title': {'romaji': 'N..."
3,{'$oid': '5ed06d4964d930385059a270'},"{'Media': {'id': 98526, 'title': {'romaji': 'R..."
4,{'$oid': '5ed06d5364d930385059a271'},"{'Media': {'id': 101240, 'title': {'romaji': '..."
5,{'$oid': '5ed06d5e64d930385059a272'},"{'Media': {'id': 966, 'title': {'romaji': 'Cra..."

In [10]:
df.tail()

,_id,data
14473,{'$oid': '5ed2ab4364d930385059daf6'},"{'Media': {'id': 99916, 'title': {'romaji': 'A..."
14474,{'$oid': '5ed2ab4d64d930385059daf7'},"{'Media': {'id': 101283, 'title': {'romaji': '..."
14475,{'$oid': '5ed2ab5864d930385059daf8'},"{'Media': {'id': 101633, 'title': {'romaji': '..."
14476,{'$oid': '5ed2ab6264d930385059daf9'},"{'Media': {'id': 21742, 'title': {'romaji': 'K..."
14477,{'$oid': '5ed2ab6c64d930385059dafa'},"{'Media': {'id': 101089, 'title': {'romaji': '..."

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14430 entries, 1 to 14477
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     14430 non-null  object
 1   data    14430 non-null  object
dtypes: object(2)
memory usage: 338.2+ KB

In [12]:
df['data'][1]['Media']

{'id': 10161,
 'title': {'romaji': 'No.6',
  'english': 'No.6',
  'native': 'NO.6 ナンバー・シックス',
  'userPreferred': 'No.6'},
 'startDate': {'year': 2011, 'month': 7, 'day': 8},
 'endDate': {'year': 2011, 'month': 9, 'day': 16},
 'season': 'SUMMER',
 'seasonYear': 2011,
 'type': 'ANIME',
 'format': 'TV',
 'status': 'FINISHED',
 'episodes': 11,
 'duration': 23,
 'chapters': None,
 'volumes': None,
 'isAdult': False,
 'genres': ['Action', 'Sci-Fi', 'Drama'],
 'tags': [{'name': 'Dystopian', 'rank': 92, 'category': 'Setting-Time'},
  {'name': "Boys' Love", 'rank': 70, 'category': 'Theme-Romance'},
  {'name': 'Shoujo', 'rank': 70, 'category': 'Demographic'},
  {'name': 'Cyberpunk', 'rank': 66, 'category': 'Theme-Sci-Fi'},
  {'name': 'Crossdressing', 'rank': 50, 'category': 'Cast-Traits'},
  {'name': 'Yandere', 'rank': 44, 'category': 'Cast-Traits'}],
 'isLicensed': True,
 'averageScore': 71,
 'popularity': 27608,
 'source': 'OTHER',
 'countryOfOrigin': 'JP',
 'staff': {'edges': [{'id': 12992,
    'node': {'id': 101012,
     'name': {'first': 'Satoshi',
      'last': 'Ishino',
      'full': 'Satoshi Ishino',
      'native': '石野聡'}},
    'role': 'Character Design'},
   {'id': 18470,
    'node': {'id': 101891,
     'name': {'first': 'Masashi',
      'last': 'Kudo',
      'full': 'Masashi Kudo',
      'native': '工藤昌史'}},
    'role': 'Key Animation  (ep 1)'},
   {'id': 18867,
    'node': {'id': 102008,
     'name': {'first': 'Atsuko',
      'last': 'Asano',
      'full': 'Atsuko Asano',
      'native': 'あさのあつこ'}},
    'role': 'Original Creator'},
   {'id': 24909,
    'node': {'id': 103541,
     'name': {'first': 'Seishi',
      'last': 'Minakami',
      'full': 'Seishi Minakami',
      'native': '水上清資'}},
    'role': 'Series Composition'},
   {'id': 31679,
    'node': {'id': 105635,
     'name': {'first': 'Yoshimichi',
      'last': 'Kameda',
      'full': 'Yoshimichi Kameda',
      'native': '亀田祥倫'}},
    'role': 'Key Animation  (OP, ep 6, 10-11)'},
   {'id': 35470,
    'node': {'id': 106631,
     'name': {'first': 'Steven',
      'last': 'Foster',
      'full': 'Steven Foster',
      'native': None}},
    'role': 'Script  (English version)'},
   {'id': 35471,
    'node': {'id': 106631,
     'name': {'first': 'Steven',
      'last': 'Foster',
      'full': 'Steven Foster',
      'native': None}},
    'role': 'ADR Director'},
   {'id': 37601,
    'node': {'id': 107510,
     'name': {'first': 'Michiko',
      'last': 'Itou',
      'full': 'Michiko Itou',
      'native': '伊藤美智子'}},
    'role': 'Script  (eps \t7, 10)'},
   {'id': 37602,
    'node': {'id': 107510,
     'name': {'first': 'Michiko',
      'last': 'Itou',
      'full': 'Michiko Itou',
      'native': '伊藤美智子'}},
    'role': 'Screenplay  (eps \t7, 10)'},
   {'id': 38407,
    'node': {'id': 107859,
     'name': {'first': 'Aimer', 'last': '', 'full': 'Aimer', 'native': 'エメ '}},
    'role': 'Theme Song Performance  (ED)'},
   {'id': 38453,
    'node': {'id': 107943,
     'name': {'first': '', 'last': 'LAMA', 'full': 'LAMA', 'native': 'ラマ'}},
    'role': 'Theme Song Arrangement  (OP)'},
   {'id': 38454,
    'node': {'id': 107943,
     'name': {'first': '', 'last': 'LAMA', 'full': 'LAMA', 'native': 'ラマ'}},
    'role': 'Theme Song Composition  (OP)'},
   {'id': 38455,
    'node': {'id': 107943,
     'name': {'first': '', 'last': 'LAMA', 'full': 'LAMA', 'native': 'ラマ'}},
    'role': 'Theme Song Lyrics  (OP)'},
   {'id': 38456,
    'node': {'id': 107943,
     'name': {'first': '', 'last': 'LAMA', 'full': 'LAMA', 'native': 'ラマ'}},
    'role': 'Theme Song Performance  (OP)'},
   {'id': 38610,
    'node': {'id': 108537,
     'name': {'first': 'Taisuke',
      'last': 'Iwasaki',
      'full': 'Taisuke Iwasaki',
      'native': '岩崎たいすけ'}},
    'role': 'Key Animation  (OP)'},
   {'id': 38723,
    'node': {'id': 108677,
     'name': {'first': 'Kenji',
      'last': 'Nagasaki',
      'full': 'Kenji Nagasaki',
      'native': '長崎健司'}},
    'role': 'Director'},
   {'id': 38724,
    'node': {'id': 108677,
     'name': {'first': 'Kenji',
      'last': 'Nagasaki',
      'full': 'Kenji Nagasaki',
      'native': '長崎健司'}},
    'role': 'Storyboard (OP, ED, eps 1-3, 9, 11)'},
   {'id': 38730,
    'node': {'id': 108679,
     'name': {'first': 'Keiichi',
      'last': 'Suzuki',
      'full': 'Keiichi Suzuki',
      'native': '慶一 鈴木'}},
    'role': 'Music'},
   {'id': 43802,
    'node': {'id': 111539,
     'name': {'first': 'Mao',
      'last': 'Daichi',
      'full': 'Mao Daichi',
      'native': '真央 大地'}},
    'role': 'Inserted Song Performance  (Kaze no Requiem, eps 5, 8, 10)'},
   {'id': 44106,
    'node': {'id': 111683,
     'name': {'first': 'Hideaki',
      'last': 'Maniwa',
      'full': 'Hideaki Maniwa',
      'native': '真庭秀明'}},
    'role': 'Key Animation  (ep 3)'},
   {'id': 44422,
    'node': {'id': 111749,
     'name': {'first': 'Masafumi',
      'last': 'Mima',
      'full': 'Masafumi Mima',
      'native': '三間雅文'}},
    'role': 'Sound Director'},
   {'id': 45259,
    'node': {'id': 112641,
     'name': {'first': '', 'last': 'Toi8', 'full': 'Toi8', 'native': 'Toi8'}},
    'role': 'Original Character Design'},
   {'id': 49442,
    'node': {'id': 116017,
     'name': {'first': 'Hiroshi',
      'last': 'Tomioka',
      'full': 'Hiroshi Tomioka',
      'native': '冨岡寛'}},
    'role': 'Key Animation  (ep 9)'},
   {'id': 50263,
    'node': {'id': 116607,
     'name': {'first': 'Kouji',
      'last': 'Yamamoto',
      'full': 'Kouji Yamamoto',
      'native': '山本幸治'}},
    'role': 'Chief Producer  (Fuji TV)'},
   {'id': 89006,
    'node': {'id': 121209,
     'name': {'first': 'Mamoru',
      'last': 'Kurosawa',
      'full': 'Mamoru Kurosawa',
      'native': '黒沢守'}},
    'role': 'Key Animation (ED)'}]},
 'studios': {'edges': [{'id': 11804,
    'node': {'id': 4, 'name': 'BONES', 'isAnimationStudio': True},
    'isMain': True},
   {'id': 11805,
    'node': {'id': 17, 'name': 'Aniplex', 'isAnimationStudio': False},
    'isMain': False},
   {'id': 11806,
    'node': {'id': 169, 'name': 'Fuji TV', 'isAnimationStudio': False},
    'isMain': False},
   {'id': 11807,
    'node': {'id': 376,
     'name': 'Sentai Filmworks',
     'isAnimationStudio': False},
    'isMain': False}]},
 'characters': {'edges': [{'id': 4370,
    'role': 'SUPPORTING',
    'node': {'id': 43634,
     'name': {'first': 'Youming',
      'last': None,
      'full': 'Youming',
      'native': '楊眠'}},
    'voiceActors': [{'id': 95022,
      'language': 'JAPANESE',
      'name': {'first': 'Shinichirou',
       'last': 'Miki',
       'full': 'Shinichirou Miki',
       'native': '三木眞一郎'}},
     {'id': 112245,
      'language': 'ENGLISH',
      'name': {'first': 'Karl',
       'last': 'Glusman',
       'full': 'Karl Glusman',
       'native': None}}]},
   {'id': 17879,
    'role': 'SUPPORTING',
    'node': {'id': 43637,
     'name': {'first': 'Safu', 'last': None, 'full': 'Safu', 'native': '沙布'}},
    'voiceActors': [{'id': 95151,
      'language': 'ENGLISH',
      'name': {'first': 'Hilary',
       'last': 'Haag',
       'full': 'Hilary Haag',
       'native': None}},
     {'id': 107711,
      'language': 'JAPANESE',
      'name': {'first': 'Kiyono',
       'last': 'Yasuno',
       'full': 'Kiyono Yasuno',
       'native': '安野希世乃'}}]},
   {'id': 20798,
    'role': 'SUPPORTING',
    'node': {'id': 44369,
     'name': {'first': 'Yamase',
      'last': None,
      'full': 'Yamase',
      'native': '山勢'}},
    'voiceActors': [{'id': 95183,
      'language': 'JAPANESE',
      'name': {'first': 'Daisuke',
       'last': 'Hirakawa',
       'full': 'Daisuke Hirakawa',
       'native': '平川大輔'}},
     {'id': 116547,
      'language': 'ENGLISH',
      'name': {'first': 'Mike',
       'last': 'Yager',
       'full': 'Mike Yager',
       'native': None}}]},
   {'id': 21575,
    'role': 'SUPPORTING',
    'node': {'id': 43635,
     'name': {'first': 'Inukashi',
      'last': None,
      'full': 'Inukashi',
      'native': 'イヌカシ'}},
    'voiceActors': [{'id': 95189,
      'language': 'ENGLISH',
      'name': {'first': 'Luci',
       'last': 'Christian',
       'full': 'Luci Christian',
       'native': None}},
     {'id': 95594,
      'language': 'JAPANESE',
      'name': {'first': 'Kei',
       'last': 'Shindou',
       'full': 'Kei Shindou',
       'native': '真堂圭'}}]},
   {'id': 21964,
    'role': 'MAIN',
    'node': {'id': 42307,
     'name': {'first': 'Shion',
      'last': None,
      'full': 'Shion',
      'native': '紫苑'}},
    'voiceActors': [{'id': 95192,
      'language': 'ENGLISH',
      'name': {'first': 'Greg',
       'last': 'Ayres',
       'full': 'Greg Ayres',
       'native': None}},
     {'id': 95672,
      'language': 'JAPANESE',
      'name': {'first': 'Yuuki',
       'last': 'Kaji',
       'full': 'Yuuki Kaji',
       'native': '梶裕貴'}}]},
   {'id': 37533,
    'role': 'SUPPORTING',
    'node': {'id': 45677,
     'name': {'first': 'Roy', 'last': None, 'full': 'Roy', 'native': 'ロイ'}},
    'voiceActors': [{'id': 95482,
      'language': 'JAPANESE',
      'name': {'first': 'Kiyotaka',
       'last': 'Furushima',
       'full': 'Kiyotaka Furushima',
       'native': '古島清孝'}}]},
   {'id': 40195,
    'role': 'SUPPORTING',
    'node': {'id': 43636,
     'name': {'first': 'Rikiga',
      'last': None,
      'full': 'Rikiga',
      'native': '力河'}},
    'voiceActors': [{'id': 95563,
      'language': 'JAPANESE',
      'name': {'first': 'Masaki',
       'last': 'Terasoma',
       'full': 'Masaki Terasoma',
       'native': 'てらそままさき'}},
     {'id': 105074,
      'language': 'ENGLISH',
      'name': {'first': 'Chris',
       'last': 'Hutchison',
       'full': 'Chris Hutchison',
       'native': None}}]},
   {'id': 47374,
    'role': 'SUPPORTING',
    'node': {'id': 45669,
     'name': {'first': 'Ann', 'last': None, 'full': 'Ann', 'native': 'アン'}},
    'voiceActors': [{'id': 95823,
      'language': 'JAPANESE',
      'name': {'first': 'Ayahi',
       'last': 'Takagaki',
       'full': 'Ayahi Takagaki',
       'native': '高垣彩陽'}}]},
   {'id': 50106,
    'role': 'SUPPORTING',
    'node': {'id': 45671,
     'name': {'first': 'Betty',
      'last': None,
      'full': 'Betty',
      'native': 'ベティ'}},
    'voiceActors': [{'id': 95913,
      'language': 'JAPANESE',
      'name': {'first': 'Chika',
       'last': 'Fujimura',
       'full': 'Chika Fujimura',
       'native': '知可 藤村'}}]},
   {'id': 53548,
    'role': 'SUPPORTING',
    'node': {'id': 45673,
     'name': {'first': 'Karan',
      'last': None,
      'full': 'Karan',
      'native': 'カラン'}},
    'voiceActors': [{'id': 96105,
      'language': 'JAPANESE',
      'name': {'first': 'Megumi',
       'last': 'Nakajima',
       'full': 'Megumi Nakajima',
       'native': '中島愛'}}]},
   {'id': 53680,
    'role': 'SUPPORTING',
    'node': {'id': 44174,
     'name': {'first': 'Karan',
      'last': None,
      'full': 'Karan',
      'native': '火藍'}},
    'voiceActors': [{'id': 96111,
      'language': 'JAPANESE',
      'name': {'first': 'Rei',
       'last': 'Sakuma',
       'full': 'Rei Sakuma',
       'native': '佐久間レイ '}},
     {'id': 105607,
      'language': 'ENGLISH',
      'name': {'first': 'Lesley',
       'last': 'Tesh',
       'full': 'Lesley Tesh',
       'native': None}}]},
   {'id': 64255,
    'role': 'MAIN',
    'node': {'id': 41182,
     'name': {'first': 'Nezumi',
      'last': None,
      'full': 'Nezumi',
      'native': 'ネズミ'}},
    'voiceActors': [{'id': 100626,
      'language': 'JAPANESE',
      'name': {'first': 'Yoshimasa',
       'last': 'Hosoya',
       'full': 'Yoshimasa Hosoya',
       'native': '細谷佳正'}},
     {'id': 104842,
      'language': 'ENGLISH',
      'name': {'first': 'Kalob',
       'last': 'Martinez',
       'full': 'Kalob Martinez',
       'native': None}}]},
   {'id': 76891,
    'role': 'SUPPORTING',
    'node': {'id': 45675,
     'name': {'first': 'Rico', 'last': None, 'full': 'Rico', 'native': 'リコ'}},
    'voiceActors': [{'id': 105045,
      'language': 'JAPANESE',
      'name': {'first': 'Yuka',
       'last': 'Nishigaki',
       'full': 'Yuka Nishigaki',
       'native': '由香 西墻'}}]},
   {'id': 79698,
    'role': 'SUPPORTING',
    'node': {'id': 44173,
     'name': {'first': 'Lili', 'last': None, 'full': 'Lili', 'native': '莉莉'}},
    'voiceActors': [{'id': 106404,
      'language': 'JAPANESE',
      'name': {'first': 'Sumire',
       'last': 'Morohoshi',
       'full': 'Sumire Morohoshi',
       'native': '諸星すみれ'}}]},
   {'id': 82620,
    'role': 'SUPPORTING',
    'node': {'id': 44175,
     'name': {'first': "Safu's Grandmother",
      'last': None,
      'full': "Safu's Grandmother",
      'native': '沙布の祖母'}},
    'voiceActors': [{'id': 107610,
      'language': 'ENGLISH',
      'name': {'first': 'Marcy',
       'last': 'Bannor',
       'full': 'Marcy Bannor',
       'native': None}},
     {'id': 107727,
      'language': 'JAPANESE',
      'name': {'first': 'Miyoko',
       'last': 'Shouji',
       'full': 'Miyoko Shouji',
       'native': '美代子 荘司'}}]}]}}

In [13]:
# for show in df['data'][:5]:
#     print('anilist_id', show['Media']['id'])
#     print('title_romaji', show['Media']['title']['romaji'])
#     print('title_english', show['Media']['title']['english'])
#     print('title_native', show['Media']['title']['native'])
#     print('title_userPreferred', show['Media']['title']['userPreferred'])
#     print('start_date', pd.to_datetime(str(show['Media']['startDate']['year']) + '-' +
#                          str(show['Media']['startDate']['month']) + '-' +
#                          str(show['Media']['startDate']['day'])).date())
#     print('end_date', pd.to_datetime(str(show['Media']['endDate']['year']) + '-' +
#                          str(show['Media']['endDate']['month']) + '-' +
#                          str(show['Media']['endDate']['day'])).date())
#     print('season', show['Media']['season'])
#     print('type', show['Media']['type'])
#     print('format', show['Media']['format'])
#     print('status', show['Media']['status'])
#     print('episodes', show['Media']['episodes'])
#     print('duration', show['Media']['duration'])
#     print('chapters', show['Media']['chapters'])
#     print('volumes', show['Media']['volumes'])
#     print('isAdult', show['Media']['isAdult'])
#     print('genres', show['Media']['genres'])
#     print('type', show['Media']['tags'])

    
#     print('------------------')

In [14]:
media_df = pd.DataFrame(list(df['data']))

In [15]:
media_df.head()

                                               Media
0  {'id': 10161, 'title': {'romaji': 'No.6', 'eng...
1  {'id': 99726, 'title': {'romaji': 'Net-juu no ...
2  {'id': 98526, 'title': {'romaji': 'Robomasters...
3  {'id': 101240, 'title': {'romaji': 'Dokidoki L...
4  {'id': 966, 'title': {'romaji': 'Crayon Shin-c...

In [16]:
media_df = pd.DataFrame(list(media_df['Media']))

In [17]:
media_df.head()

,id,title,startDate,endDate,season,seasonYear,type,format,status,episodes,...,genres,tags,isLicensed,averageScore,popularity,source,countryOfOrigin,staff,studios,characters
0,10161,"{'romaji': 'No.6', 'english': 'No.6', 'native'...","{'year': 2011, 'month': 7, 'day': 8}","{'year': 2011, 'month': 9, 'day': 16}",SUMMER,2011.0,ANIME,TV,FINISHED,11.0,...,"[Action, Sci-Fi, Drama]","[{'name': 'Dystopian', 'rank': 92, 'category':...",True,71.0,27608,OTHER,JP,"{'edges': [{'id': 12992, 'node': {'id': 101012...","{'edges': [{'id': 11804, 'node': {'id': 4, 'na...","{'edges': [{'id': 4370, 'role': 'SUPPORTING', ..."
1,99726,"{'romaji': 'Net-juu no Susume', 'english': 'Re...","{'year': 2017, 'month': 10, 'day': 6}","{'year': 2017, 'month': 12, 'day': 8}",FALL,2017.0,ANIME,TV,FINISHED,10.0,...,"[Comedy, Fantasy, Romance, Adventure, Slice of...","[{'name': 'Video Games', 'rank': 95, 'category...",True,75.0,41540,MANGA,JP,"{'edges': [{'id': 99978, 'node': {'id': 110641...","{'edges': [{'id': 17713, 'node': {'id': 6101, ...","{'edges': [{'id': 149462, 'role': 'MAIN', 'nod..."
2,98526,"{'romaji': 'Robomasters The Animated Series', ...","{'year': 2017, 'month': 10, 'day': 13}","{'year': 2017, 'month': 11, 'day': 17}",FALL,2017.0,ANIME,TV,FINISHED,6.0,...,"[Action, Drama]","[{'name': 'Real Robot', 'rank': 60, 'category'...",True,58.0,1901,ORIGINAL,JP,"{'edges': [{'id': 93476, 'node': {'id': 107517...","{'edges': [{'id': 17375, 'node': {'id': 6154, ...",{'edges': []}
3,101240,"{'romaji': 'Dokidoki Little Ooya-san', 'englis...","{'year': 2018, 'month': 5, 'day': 25}","{'year': 2019, 'month': 12, 'day': 27}",SPRING,2018.0,ANIME,OVA,FINISHED,6.0,...,[Hentai],"[{'name': 'Age Gap', 'rank': 86, 'category': '...",True,67.0,1228,VIDEO_GAME,JP,{'edges': []},"{'edges': [{'id': 18136, 'node': {'id': 6155, ...","{'edges': [{'id': 151698, 'role': 'MAIN', 'nod..."
4,966,"{'romaji': 'Crayon Shin-chan', 'english': 'Shi...","{'year': 1992, 'month': 4, 'day': 13}","{'year': None, 'month': None, 'day': None}",SPRING,1992.0,ANIME,TV,RELEASING,NaN,...,"[Comedy, Ecchi, Slice of Life]","[{'name': 'Episodic', 'rank': 85, 'category': ...",True,73.0,4681,MANGA,JP,"{'edges': [{'id': 966, 'node': {'id': 95148, '...","{'edges': [{'id': 2601, 'node': {'id': 55, 'na...","{'edges': [{'id': 2281, 'role': 'SUPPORTING', ..."

In [18]:
tags_df = pd.DataFrame(list(media_df['tags']))
tags_df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,"{'name': 'Dystopian', 'rank': 92, 'category': ...","{'name': 'Boys' Love', 'rank': 70, 'category':...","{'name': 'Shoujo', 'rank': 70, 'category': 'De...","{'name': 'Cyberpunk', 'rank': 66, 'category': ...","{'name': 'Crossdressing', 'rank': 50, 'categor...","{'name': 'Yandere', 'rank': 44, 'category': 'C...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,"{'name': 'Video Games', 'rank': 95, 'category'...","{'name': 'Virtual World', 'rank': 92, 'categor...","{'name': 'Hikikomori', 'rank': 88, 'category':...","{'name': 'Primarily Adult Cast', 'rank': 83, '...","{'name': 'Female Protagonist', 'rank': 80, 'ca...","{'name': 'Parody', 'rank': 70, 'category': 'Th...","{'name': 'Gender Bending', 'rank': 55, 'catego...","{'name': 'Reverse Harem', 'rank': 20, 'categor...",None,None,...,None,None,None,None,None,None,None,None,None,None
2,"{'name': 'Real Robot', 'rank': 60, 'category':...","{'name': 'Robots', 'rank': 60, 'category': 'Ca...","{'name': 'College', 'rank': 20, 'category': 'S...",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,"{'name': 'Age Gap', 'rank': 86, 'category': 'T...","{'name': 'Flat Chest', 'rank': 84, 'category':...","{'name': 'Nakadashi', 'rank': 70, 'category': ...","{'name': 'Fellatio', 'rank': 64, 'category': '...","{'name': 'Ashikoki', 'rank': 50, 'category': '...","{'name': 'Ahegao', 'rank': 50, 'category': 'Se...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,"{'name': 'Episodic', 'rank': 85, 'category': '...","{'name': 'Family Life', 'rank': 73, 'category'...","{'name': 'Kids', 'rank': 72, 'category': 'Demo...","{'name': 'School', 'rank': 66, 'category': 'Se...","{'name': 'Male Protagonist', 'rank': 60, 'cate...","{'name': 'Shounen', 'rank': 52, 'category': 'D...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [31]:
genres_df = pd.DataFrame(list(media_df['genres']))
genres_df.head()

        0        1              2          3              4     5     6
0  Action   Sci-Fi          Drama       None           None  None  None
1  Comedy  Fantasy        Romance  Adventure  Slice of Life  None  None
2  Action    Drama           None       None           None  None  None
3  Hentai     None           None       None           None  None  None
4  Comedy    Ecchi  Slice of Life       None           None  None  None

In [43]:
staff_df = pd.DataFrame(media_df['staff'])
staff_df.head()

                                               staff
0  {'edges': [{'id': 12992, 'node': {'id': 101012...
1  {'edges': [{'id': 99978, 'node': {'id': 110641...
2  {'edges': [{'id': 93476, 'node': {'id': 107517...
3                                      {'edges': []}
4  {'edges': [{'id': 966, 'node': {'id': 95148, '...

In [44]:
staff_df = staff_df['staff'].apply(pd.Series)

In [47]:
staff_df = staff_df['edges'].apply(pd.Series)
staff_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,"{'id': 12992, 'node': {'id': 101012, 'name': {...","{'id': 18470, 'node': {'id': 101891, 'name': {...","{'id': 18867, 'node': {'id': 102008, 'name': {...","{'id': 24909, 'node': {'id': 103541, 'name': {...","{'id': 31679, 'node': {'id': 105635, 'name': {...","{'id': 35470, 'node': {'id': 106631, 'name': {...","{'id': 35471, 'node': {'id': 106631, 'name': {...","{'id': 37601, 'node': {'id': 107510, 'name': {...","{'id': 37602, 'node': {'id': 107510, 'name': {...","{'id': 38407, 'node': {'id': 107859, 'name': {...",...,"{'id': 38723, 'node': {'id': 108677, 'name': {...","{'id': 38724, 'node': {'id': 108677, 'name': {...","{'id': 38730, 'node': {'id': 108679, 'name': {...","{'id': 43802, 'node': {'id': 111539, 'name': {...","{'id': 44106, 'node': {'id': 111683, 'name': {...","{'id': 44422, 'node': {'id': 111749, 'name': {...","{'id': 45259, 'node': {'id': 112641, 'name': {...","{'id': 49442, 'node': {'id': 116017, 'name': {...","{'id': 50263, 'node': {'id': 116607, 'name': {...","{'id': 89006, 'node': {'id': 121209, 'name': {..."
1,"{'id': 99978, 'node': {'id': 110641, 'name': {...","{'id': 99979, 'node': {'id': 107576, 'name': {...","{'id': 101442, 'node': {'id': 123305, 'name': ...","{'id': 103313, 'node': {'id': 95936, 'name': {...","{'id': 103314, 'node': {'id': 118478, 'name': ...","{'id': 103315, 'node': {'id': 96105, 'name': {...","{'id': 103316, 'node': {'id': 118959, 'name': ...","{'id': 103318, 'node': {'id': 123959, 'name': ...","{'id': 103319, 'node': {'id': 123960, 'name': ...","{'id': 103321, 'node': {'id': 123961, 'name': ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'id': 93476, 'node': {'id': 107517, 'name': {...","{'id': 93477, 'node': {'id': 118495, 'name': {...","{'id': 96834, 'node': {'id': 118453, 'name': {...","{'id': 96835, 'node': {'id': 120009, 'name': {...","{'id': 96836, 'node': {'id': 101573, 'name': {...","{'id': 96837, 'node': {'id': 122176, 'name': {...","{'id': 96838, 'node': {'id': 122177, 'name': {...","{'id': 118088, 'node': {'id': 131854, 'name': ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
studios_df = pd.DataFrame(media_df['studios'])
studios_df.head()

                                             studios
0  {'edges': [{'id': 11804, 'node': {'id': 4, 'na...
1  {'edges': [{'id': 17713, 'node': {'id': 6101, ...
2  {'edges': [{'id': 17375, 'node': {'id': 6154, ...
3  {'edges': [{'id': 18136, 'node': {'id': 6155, ...
4  {'edges': [{'id': 2601, 'node': {'id': 55, 'na...

In [53]:
studios_df = studios_df['studios'].apply(pd.Series)
studios_df

                                                   edges
0      [{'id': 11804, 'node': {'id': 4, 'name': 'BONE...
1      [{'id': 17713, 'node': {'id': 6101, 'name': 'S...
2      [{'id': 17375, 'node': {'id': 6154, 'name': 'D...
3      [{'id': 18136, 'node': {'id': 6155, 'name': 'C...
4      [{'id': 2601, 'node': {'id': 55, 'name': 'TV A...
...                                                  ...
14425  [{'id': 17965, 'node': {'id': 218, 'name': 'ZE...
14426  [{'id': 18150, 'node': {'id': 11, 'name': 'MAD...
14427  [{'id': 18278, 'node': {'id': 537, 'name': 'SA...
14428  [{'id': 16845, 'node': {'id': 43, 'name': 'ufo...
14429                                                 []

[14430 rows x 1 columns]

In [54]:
studios_df = studios_df['edges'].apply(pd.Series)
studios_df

,0,1,2,3,4,5,6,7,8,9,10,11
0,"{'id': 11804, 'node': {'id': 4, 'name': 'BONES...","{'id': 11805, 'node': {'id': 17, 'name': 'Anip...","{'id': 11806, 'node': {'id': 169, 'name': 'Fuj...","{'id': 11807, 'node': {'id': 376, 'name': 'Sen...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'id': 17713, 'node': {'id': 6101, 'name': 'Si...","{'id': 17899, 'node': {'id': 464, 'name': 'fly...","{'id': 17900, 'node': {'id': 6186, 'name': 'co...","{'id': 21501, 'node': {'id': 6421, 'name': 'Cr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'id': 17375, 'node': {'id': 6154, 'name': 'Da...","{'id': 17558, 'node': {'id': 3, 'name': 'GONZO...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'id': 18136, 'node': {'id': 6155, 'name': 'Co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'id': 2601, 'node': {'id': 55, 'name': 'TV As...","{'id': 2602, 'node': {'id': 102, 'name': 'FUNi...","{'id': 2603, 'node': {'id': 247, 'name': 'Shin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
14425,"{'id': 17965, 'node': {'id': 218, 'name': 'ZEX...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14426,"{'id': 18150, 'node': {'id': 11, 'name': 'MADH...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14427,"{'id': 18278, 'node': {'id': 537, 'name': 'SAN...","{'id': 18949, 'node': {'id': 911, 'name': 'Pas...","{'id': 18950, 'node': {'id': 6072, 'name': 'Cr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14428,"{'id': 16845, 'node': {'id': 43, 'name': 'ufot...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
characters_df = pd.DataFrame(media_df['characters'])
characters_df.head()

                                          characters
0  {'edges': [{'id': 4370, 'role': 'SUPPORTING', ...
1  {'edges': [{'id': 149462, 'role': 'MAIN', 'nod...
2                                      {'edges': []}
3  {'edges': [{'id': 151698, 'role': 'MAIN', 'nod...
4  {'edges': [{'id': 2281, 'role': 'SUPPORTING', ...

In [55]:
characters_df = characters_df['characters'].apply(pd.Series)
characters_df.head()

                                               edges
0  [{'id': 4370, 'role': 'SUPPORTING', 'node': {'...
1  [{'id': 149462, 'role': 'MAIN', 'node': {'id':...
2                                                 []
3  [{'id': 151698, 'role': 'MAIN', 'node': {'id':...
4  [{'id': 2281, 'role': 'SUPPORTING', 'node': {'...

In [56]:
characters_df = characters_df['edges'].apply(pd.Series)
characters_df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,"{'id': 4370, 'role': 'SUPPORTING', 'node': {'i...","{'id': 17879, 'role': 'SUPPORTING', 'node': {'...","{'id': 20798, 'role': 'SUPPORTING', 'node': {'...","{'id': 21575, 'role': 'SUPPORTING', 'node': {'...","{'id': 21964, 'role': 'MAIN', 'node': {'id': 4...","{'id': 37533, 'role': 'SUPPORTING', 'node': {'...","{'id': 40195, 'role': 'SUPPORTING', 'node': {'...","{'id': 47374, 'role': 'SUPPORTING', 'node': {'...","{'id': 50106, 'role': 'SUPPORTING', 'node': {'...","{'id': 53548, 'role': 'SUPPORTING', 'node': {'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'id': 149462, 'role': 'MAIN', 'node': {'id': ...","{'id': 149463, 'role': 'SUPPORTING', 'node': {...","{'id': 149464, 'role': 'SUPPORTING', 'node': {...","{'id': 149465, 'role': 'MAIN', 'node': {'id': ...","{'id': 149467, 'role': 'SUPPORTING', 'node': {...","{'id': 149468, 'role': 'SUPPORTING', 'node': {...","{'id': 149469, 'role': 'SUPPORTING', 'node': {...","{'id': 149470, 'role': 'SUPPORTING', 'node': {...","{'id': 150118, 'role': 'MAIN', 'node': {'id': ...","{'id': 150119, 'role': 'MAIN', 'node': {'id': ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'id': 151698, 'role': 'MAIN', 'node': {'id': ...","{'id': 151699, 'role': 'MAIN', 'node': {'id': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'id': 2281, 'role': 'SUPPORTING', 'node': {'i...","{'id': 2770, 'role': 'SUPPORTING', 'node': {'i...","{'id': 8172, 'role': 'MAIN', 'node': {'id': 33...","{'id': 11061, 'role': 'SUPPORTING', 'node': {'...","{'id': 17504, 'role': 'SUPPORTING', 'node': {'...","{'id': 17505, 'role': 'MAIN', 'node': {'id': 2...","{'id': 20704, 'role': 'SUPPORTING', 'node': {'...","{'id': 27174, 'role': 'SUPPORTING', 'node': {'...","{'id': 28782, 'role': 'SUPPORTING', 'node': {'...","{'id': 29103, 'role': 'SUPPORTING', 'node': {'...",...,"{'id': 38375, 'role': 'SUPPORTING', 'node': {'...","{'id': 38468, 'role': 'SUPPORTING', 'node': {'...","{'id': 42278, 'role': 'SUPPORTING', 'node': {'...","{'id': 42632, 'role': 'SUPPORTING', 'node': {'...","{'id': 46210, 'role': 'SUPPORTING', 'node': {'...","{'id': 47993, 'role': 'MAIN', 'node': {'id': 7...","{'id': 74614, 'role': 'SUPPORTING', 'node': {'...",NaN,NaN,NaN

In [64]:
for char in characters_df.iloc[0,:]:
    if char['role'] == 'MAIN':
        print(char)

{'id': 21964, 'role': 'MAIN', 'node': {'id': 42307, 'name': {'first': 'Shion', 'last': None, 'full': 'Shion', 'native': '紫苑'}}, 'voiceActors': [{'id': 95192, 'language': 'ENGLISH', 'name': {'first': 'Greg', 'last': 'Ayres', 'full': 'Greg Ayres', 'native': None}}, {'id': 95672, 'language': 'JAPANESE', 'name': {'first': 'Yuuki', 'last': 'Kaji', 'full': 'Yuuki Kaji', 'native': '梶裕貴'}}]}
{'id': 64255, 'role': 'MAIN', 'node': {'id': 41182, 'name': {'first': 'Nezumi', 'last': None, 'full': 'Nezumi', 'native': 'ネズミ'}}, 'voiceActors': [{'id': 100626, 'language': 'JAPANESE', 'name': {'first': 'Yoshimasa', 'last': 'Hosoya', 'full': 'Yoshimasa Hosoya', 'native': '細谷佳正'}}, {'id': 104842, 'language': 'ENGLISH', 'name': {'first': 'Kalob', 'last': 'Martinez', 'full': 'Kalob Martinez', 'native': None}}]}

TypeError: 'float' object is not subscriptable